@tailwind base;
@tailwind components;
@tailwind utilities;

.img01 {
  background-image: url(https://res.cloudinary.com/dbqzdrnjd/image/upload/v1619838427/cryptos/05_c6opyb.jpg);

  /*   background: url(./imgs/city.jpg);
 */
  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img02 {
  background-image: url(https://images.unsplash.com/photo-1544179516-b0878e1cbe48?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHw%3D&auto=format&fit=crop&w=900&q=60);
}

.img03 {
  background-image: url(https://images.unsplash.com/photo-1608466276241-5488611a8d52?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=869&q=80);
}
